---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$green: #94DED4;
$orange: #EA7B08;
$hunter_green: #355e3b;
a {
	color: $orange;
}
a:hover{
	color: $orange;
	text-decoration:none;
}
// #page-header{
// 	height: 100%;
// 	width: 100%;
// 	display: table;
// 	h1{
// 		color: white;
// 		display: table-cell;
// 		vertical-align: middle;
// 		padding: 1.5em;
// 	}
// }

#page-header{
	height: 100%;
	width: 100%;
	display: table;
	h1{
		color: white;
		display: table-cell;
		vertical-align: middle;
		padding: 1.5em;
		text-align: center;
	}
	h1:hover{
		background-color: $orange;	
		// color: $hunter_green;
	}
}

#page-header-other{
	height: 100%;
	width: 100%;
	display: table;
	h1{
		color: white;
		display: table-cell;
		vertical-align: middle;
		padding: 1.5em;
		text-align: center;
	}

}

// h1:hover{
// 	background-color: $orange;	
// 	color: $hunter_green;
// }

// }
.main-header{
	background-color: $orange;
}

.navbar-default {
	.navbar-nav {
		li{
			a {
				color: #fff;
				text-shadow:none;
			}
			a:hover{
				color: $hunter_green;
			}
		}
	} 
}

.section{
	margin-top: 0.5em;
	h2{
		color: $hunter_green;	
	}
}

.nav-color{
	background-color: $orange;
}
.landing-page-link{
   color: white;
   display: inline-block;
}

.code{
	background-color: lighten($orange, 45%);
	color: darken($orange, 25%);
}