---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$green: #94DED4;
$orange: #EA7B08;

a {
	color: $orange;
}
a:hover{
	color: $orange;
	text-decoration:none;
}
#page-header{
	height: 100%;
	width: 100%;
	display: table;
	h1{
		color: white;
		display: table-cell;
    	vertical-align: middle;
    	padding: 1.5em;
	}
}
