<form action="https://getsimpleform.com/messages?form_api_token=07eddd95eefca3e9638c791169ef5b40" method="post">

<div class="row section">
<h2 style="color: black;"> Feedback </h2>
</div>
<div class="form-group">

Have you tried or have thoughts on this activity? We would love to hear from you!
<h4>Name</h4>
<input  class="form-control" name="name" />
<input type="hidden" name="type" value={{page.feedback}}>
<h4>Email</h4>
<input type='text' name='email' class="form-control"   />
<h4>Comments</h4>
<textarea name="message" class="form-control" rows="4" ></textarea>
<input type='submit' class="btn btn-info" style="margin-top: 1em;"  value='Submit' /
</div>

</form>
